{
    "plugins": ["prettier-plugin-tailwindcss"],
    "overrides": [
        {
            "files": ["*.tsx", "*.ts", "*.jsx", "*.js"],
            "options": {
                "printWidth": 160,
                "singleQuote": true
            }
        }
    ]
}
