{
    "plugins": ["prettier-plugin-tailwindcss"],
    "overrides": [
        {
            "files": "*.tsx",
            "options": {
                "printWidth": 160,
                "singleQuote": true
            }
        }
    ]
}
